<section id="educacion" class="section-padding">
  <div class="container px-4 py-5">
    <h3 class="heading-info mb-4">
      <span class="me-2"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="1em"
          height="1em"
          class="green-point"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
          /></svg></span
      >Desarrollo de habilidades en física, programación y desarrollo web
    </h3>
    <h2 class="heading-title2">Formación Académica y Cursos Online</h2>
    <p>
      Experiencia en formación universitaria en física y cursos online en
      programación Java, desarrollo web con HTML, CSS, JavaScript y React, y
      desarrollo full-stack con el stack MERN.
    </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <p class="mb-1">
          Facultad de Ciencias Exactas, Ingeniería y Agrimensura (FCEIA)
        </p>
        <h5 class="mb-2 fs-3 fw-bold">Licenciatura en Física</h5>
        <h3 class="mb-3 fs-6 text-uppercase header-color">
          Fisica - Matiematicas - Programmación
        </h3>
        <h3 class="mb-3 fs-6 text-uppercase">Febrero 2005- Noviembre 2008</h3>
        <p>
          Formación universitaria en física que abarca desde los fundamentos
          teóricos hasta las aplicaciones prácticas en diversos campos. No se
          completó la carrera.
        </p>
      </div>
      <div class="feature col">
        <p class="mb-1">Universidad de Helsinki</p>
        <h5 class="mb-2 fs-3 fw-bold">Curso Online de Java</h5>
        <h3 class="mb-3 fs-6 text-uppercase header-color">
          Java - Estructuras de Datos - Algoritmos
        </h3>
        <h3 class="mb-3 fs-6 text-uppercase">Enero 2020 - Junio 2020</h3>
        <p>
          Curso en línea que aborda los fundamentos de la programación en Java y
          el desarrollo de aplicaciones utilizando este lenguaje.
        </p>
      </div>
      <div class="feature col">
        <p class="mb-1">FreeCodeCamp</p>
        <h5 class="mb-2 fs-3 fw-bold">
          Curso Online de HTML, CSS, JavaScript y React
        </h5>
        <h3 class="mb-3 fs-6 text-uppercase header-color">
          HTML - CSS - JavaScript - React
        </h3>
        <h3 class="mb-3 fs-6 text-uppercase">Julio 2020 - Diciembre 2020</h3>
        <p>
          Curso en línea que cubre los aspectos básicos y avanzados de la
          programación web, incluyendo HTML, CSS, JavaScript y React para el
          desarrollo de aplicaciones web modernas.
        </p>
      </div>
      <div class="feature col">
        <p class="mb-1">Udemy, Brad Traversy</p>
        <h5 class="mb-2 fs-3 fw-bold">Curso de Stack MERN</h5>
        <h3 class="mb-3 fs-6 text-uppercase header-color">
          MongoDB - Express.js - React - Node.js
        </h3>
        <h3 class="mb-3 fs-6 text-uppercase">Enero 2021 - Mayo 2021</h3>
        <p>
          curso en línea que enseña cómo desarrollar aplicaciones web full-stack
          utilizando el stack MERN, incluyendo la creación de bases de datos,
          servidores, interfaces de usuario y la integración de tecnologías
          front-end y back-end.
        </p>
      </div>
      <div class="feature col">
        <p class="mb-1">Epic React, Kent C. Dodds</p>
        <h5 class="mb-2 fs-3 fw-bold">Curso Online Autogestionado de React</h5>
        <h3 class="mb-3 fs-6 text-uppercase header-color">
          Desarrollo Avanzado React
        </h3>
        <h3 class="mb-3 fs-6 text-uppercase">Julio 2021 - Enero 2022</h3>
        <p>
          curso en línea autogestionado que profundiza en el uso de React para
          el desarrollo de aplicaciones web, abordando temas avanzados y buenas
          prácticas en el ecosistema de React.
        </p>
      </div>
    </div>
  </div>
</section>
