<nav id="navbar" class="navbar navbar-expand-lg py-4">
  <div class="container-md">
    <a class="navbar-brand" href="#">
      <img
        class="d-block mx-auto"
        src="assets/ArgProgLogo.png"
        alt=""
        width="130"
        height="36"
      />
    </a>
    <button
      class="navbar-toggler navbar-menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-top"
      aria-controls="navbar-top"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 37.384 37.384"
        width="1em"
        height="1em"
      >
        <path d="M0 8.736h37.348v3.092H0z" opacity=".93" />
        <path d="M0 17.147h37.348v3.092H0z" opacity=".93" />
        <path d="M11.964 25.557h25.42v3.092h-25.42z" opacity=".93" />
      </svg>
    </button>

    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/#navbar">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#educacion">Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#habilidad">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#proyectos">Proyectos</a>
        </li>
      </ul>

      <button
        *ngIf="estaAutenticado"
        type="button"
        class="btn btn-primary btn-lg gap-3 btn-ghost"
        (click)="logout()"
      >
        Logout
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 56.092 49.389"
            width="1em"
            height="1em"
          >
            <path
              d="M35.278 47.625v-1.764h17.639V3.528h-17.64V0h20.816v49.389H35.278ZM21.52 40.042l-1.213-1.252 6.158-6.166 6.158-6.166H0v-3.527h32.624l-6.165-6.173-6.165-6.173 1.235-1.234 1.234-1.234 8.284 8.29 8.284 8.29-8.299 8.298-8.298 8.298z"
            />
          </svg>
        </span>
      </button>
      <button
        *ngIf="!estaAutenticado"
        type="button"
        class="btn btn-primary btn-lg gap-3 btn-ghost"
        [routerLink]="['/login']"
      >
        Login
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 56.092 49.389"
            width="1em"
            height="1em"
          >
            <path
              d="M35.278 47.625v-1.764h17.639V3.528h-17.64V0h20.816v49.389H35.278ZM21.52 40.042l-1.213-1.252 6.158-6.166 6.158-6.166H0v-3.527h32.624l-6.165-6.173-6.165-6.173 1.235-1.234 1.234-1.234 8.284 8.29 8.284 8.29-8.299 8.298-8.298 8.298z"
            />
          </svg>
        </span>
      </button>
    </div>
  </div>
</nav>
