<section id="habilidad" class="section-padding">
  <div class="container px-4 py-5">
    <h3 class="heading-info mb-4">
      <span class="me-2"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="1em"
          height="1em"
          class="green-point"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
          /></svg></span
      >Desarrollo web y programación
    </h3>
    <h2 class="heading-title2">Habilidades adquiridas.</h2>
    <p>
      Desde la física teórica hasta las aplicaciones web modernas: una mirada de
      mis habilidades en programación y desarrollo web
    </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
      <div class="feature col" *ngFor="let habilidad of habilidades">
        <div *ngIf="modificandoHabilidadId !== habilidad.id">
          <div *ngIf="estaAutenticado" class="mb-3 w-full text-end">
            <button
              class="btn btn-success btn-solid"
              (click)="
                abrirFormularioModificacionHabilidad(habilidad.id);
                establecerValoresHabilidad(habilidad)
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                width="1em"
                height="1em"
              >
                <path
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                />
              </svg>
            </button>
            <button
              class="btn btn-danger btn-ghost m-1"
              (click)="borrarHabilidad(habilidad.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                width="1em"
                height="1em"
              >
                <path
                  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                />
              </svg>
            </button>
          </div>
          <div class="mb-3 progress-title">
            <div class="progress-container">
              <div
                class="progress-bar"
                [style.background]="getPorcentaje(habilidad)"
              >
                <progress
                  [attr.value]="habilidad?.porcentaje"
                  min="0"
                  max="100"
                  style="visibility: hidden; height: 0; width: 0"
                >
                  {{ habilidad?.porcentaje }}
                </progress>
              </div>
            </div>
            <h5 class="mb-2 fs-3 fw-bold skills-title">
              {{ habilidad?.nombre }}
            </h5>
          </div>
          <p>
            {{ habilidad?.descripcion }}
          </p>
        </div>
        <div *ngIf="modificandoHabilidadId === habilidad.id" class="">
          <form
            [formGroup]="formModificarHabilidad"
            class="m-3"
            (ngSubmit)="modificarHabilidad($event)"
          >
            <div class="mb-3">
              <label for="inputNombre" class="form-label login-label"
                >Nombre</label
              >
              <input
                type="text"
                formControlName="nombre"
                [ngClass]="{
                  'is-invalid':
                    valorModificarHabilidad('nombre')?.errors &&
                    valorModificarHabilidad('nombre')?.touched,
                  'is-valid':
                    !valorModificarHabilidad('nombre')?.errors &&
                    valorModificarHabilidad('nombre')?.touched
                }"
                class="form-control"
                id="inputNombre"
              />
              <div
                *ngIf="
                  valorModificarHabilidad('nombre')?.errors &&
                  valorModificarHabilidad('nombre')?.touched
                "
              >
                <p
                  *ngIf="
                    valorModificarHabilidad('nombre')?.hasError('required')
                  "
                  class="text-danger"
                >
                  El campo nombre es requerido.
                </p>
                <p
                  *ngIf="
                    valorModificarHabilidad('nombre')?.hasError('minlength')
                  "
                  class="text-danger"
                >
                  El campo nombre debe tener 3 o mas caracteres.
                </p>
              </div>
            </div>
            <div class="mb-3">
              <label for="inputPorcentaje" class="form-label login-label"
                >Porcentaje</label
              >
              <input
                type="text"
                formControlName="porcentaje"
                [ngClass]="{
                  'is-invalid':
                    valorModificarHabilidad('porcentaje')?.errors &&
                    valorModificarHabilidad('porcentaje')?.touched,
                  'is-valid':
                    !valorModificarHabilidad('porcentaje')?.errors &&
                    valorModificarHabilidad('porcentaje')?.touched
                }"
                class="form-control"
                id="inputPorcentaje"
              />
              <div
                *ngIf="
                  valorModificarHabilidad('porcentaje')?.errors &&
                  valorModificarHabilidad('porcentaje')?.touched
                "
              >
                <p
                  *ngIf="
                    valorModificarHabilidad('porcentaje')?.hasError('required')
                  "
                  class="text-danger"
                >
                  El campo porcentaje es requerido.
                </p>
                <p
                  *ngIf="valorModificarHabilidad('porcentaje')?.hasError('min')"
                  class="text-danger"
                >
                  El porcentaje debe ser mayor a 1.
                </p>
                <p
                  *ngIf="valorModificarHabilidad('porcentaje')?.hasError('max')"
                  class="text-danger"
                >
                  El porcentaje no debe ser mayor a 100.
                </p>
              </div>
            </div>
            <div class="mb-3">
              <label for="inputDescripcion" class="form-label login-label"
                >Descripcion de Habilidad</label
              >
              <input
                type="text"
                formControlName="descripcion"
                [ngClass]="{
                  'is-invalid':
                    valorModificarHabilidad('descripcion')?.errors &&
                    valorModificarHabilidad('descripcion')?.touched,
                  'is-valid':
                    !valorModificarHabilidad('descripcion')?.errors &&
                    valorModificarHabilidad('descripcion')?.touched
                }"
                class="form-control"
                id="inputDescripcion"
              />
              <div
                *ngIf="
                  valorModificarHabilidad('descripcion')?.errors &&
                  valorModificarHabilidad('descripcion')?.touched
                "
              >
                <p
                  *ngIf="
                    valorModificarHabilidad('descripcion')?.hasError('required')
                  "
                  class="text-danger"
                >
                  El campo descripcion es requerido.
                </p>
                <p
                  *ngIf="
                    valorModificarHabilidad('descripcion')?.hasError(
                      'minlength'
                    )
                  "
                  class="text-danger"
                >
                  El campo descripcion debe tener 3 o mas caracteres.
                </p>
              </div>
            </div>
            <button
              [ngClass]="{
                disabled: !formModificarHabilidad.valid
              }"
              type="submit"
              class="btn btn-primary btn-solid"
            >
              Enviar
            </button>
            <button
              type="submit"
              class="btn btn-danger btn-ghost ms-1"
              (click)="cerrarFormularioModificacionHabilidad()"
            >
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
    <button
      *ngIf="!agregandoHabilidad && estaAutenticado"
      class="btn btn-primary btn-solid m-3"
      (click)="abrirFormularioCrearHabilidad()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        width="1em"
        height="1em"
      >
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
        />
      </svg>
    </button>
    <div *ngIf="agregandoHabilidad">
      <form
        [formGroup]="formAgregarHabilidad"
        class="m-3"
        (ngSubmit)="agregarHabilidad($event)"
      >
        <div class="mb-3">
          <label for="inputNombre" class="form-label login-label">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            [ngClass]="{
              'is-invalid':
                valorAgregarHabilidad('nombre')?.errors &&
                valorAgregarHabilidad('nombre')?.touched,
              'is-valid':
                !valorAgregarHabilidad('nombre')?.errors &&
                valorAgregarHabilidad('nombre')?.touched
            }"
            class="form-control"
            id="inputNombre"
          />
          <div
            *ngIf="
              valorAgregarHabilidad('nombre')?.errors &&
              valorAgregarHabilidad('nombre')?.touched
            "
          >
            <p
              *ngIf="valorAgregarHabilidad('nombre')?.hasError('required')"
              class="text-danger"
            >
              El campo nombre es requerido.
            </p>
            <p
              *ngIf="valorAgregarHabilidad('nombre')?.hasError('minlength')"
              class="text-danger"
            >
              El campo nombre debe tener 3 o mas caracteres.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPorcentaje" class="form-label login-label"
            >Porcentaje</label
          >
          <input
            type="number"
            formControlName="porcentaje"
            [ngClass]="{
              'is-invalid':
                valorAgregarHabilidad('porcentaje')?.errors &&
                valorAgregarHabilidad('porcentaje')?.touched,
              'is-valid':
                !valorAgregarHabilidad('porcentaje')?.errors &&
                valorAgregarHabilidad('porcentaje')?.touched
            }"
            class="form-control"
            id="inputPorcentaje"
          />
          <div
            *ngIf="
              valorAgregarHabilidad('porcentaje')?.errors &&
              valorAgregarHabilidad('porcentaje')?.touched
            "
          >
            <p
              *ngIf="valorAgregarHabilidad('porcentaje')?.hasError('required')"
              class="text-danger"
            >
              El campo porcentaje es requerido.
            </p>
            <p
              *ngIf="valorAgregarHabilidad('porcentaje')?.hasError('min')"
              class="text-danger"
            >
              El porcentaje debe ser mayor a 1.
            </p>
            <p
              *ngIf="valorAgregarHabilidad('porcentaje')?.hasError('max')"
              class="text-danger"
            >
              El porcentaje no debe ser mayor a 100.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label for="inputDescripcion" class="form-label login-label"
            >Descripcion de Habilidad</label
          >
          <input
            type="text"
            formControlName="descripcion"
            [ngClass]="{
              'is-invalid':
                valorAgregarHabilidad('descripcion')?.errors &&
                valorAgregarHabilidad('descripcion')?.touched,
              'is-valid':
                !valorAgregarHabilidad('descripcion')?.errors &&
                valorAgregarHabilidad('descripcion')?.touched
            }"
            class="form-control"
            id="inputDescripcion"
          />
          <div
            *ngIf="
              valorAgregarHabilidad('descripcion')?.errors &&
              valorAgregarHabilidad('descripcion')?.touched
            "
          >
            <p
              *ngIf="valorAgregarHabilidad('descripcion')?.hasError('required')"
              class="text-danger"
            >
              El campo descripcion es requerido.
            </p>
            <p
              *ngIf="
                valorAgregarHabilidad('descripcion')?.hasError('minlength')
              "
              class="text-danger"
            >
              El campo descripcion debe tener 3 o mas caracteres.
            </p>
          </div>
        </div>
        <button
          [ngClass]="{
            disabled: !formAgregarHabilidad.valid
          }"
          type="submit"
          class="btn btn-primary btn-solid"
        >
          Enviar
        </button>
        <button
          class="btn btn-danger btn-ghost ms-1"
          (click)="cerrarFormularioCrearHabilidad()"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</section>
