/* --------------- */
/* ---Variables--- */
/* --------------- */
:root {
  --floral-white: #fcf9f2;
  --chartreuse: #e6fc56;
  --raisin-black: #1d1c22;
  --timberwolf: #d1d6ce;
  --onyx: #3e3e3e;
}

/* -------------- */
/* ---Globales--- */
/* -------------- */

body {
  font-family: 'Questrial', sans-serif;
  background-color: var(--floral-white);
  color: var(--raisin-black);
}

/* --------------- */
/* ---Generales--- */
/* --------------- */

.btn-ghost {
  border: none;
  border-radius: 0;
  background: transparent;
  color: var(--raisin-black);
  box-shadow: 0 0 0 1px var(--raisin-black);
  transition: all 300ms;
}
.btn-ghost:hover {
  background: var(--raisin-black);
  color: var(--floral-white);
  fill: var(--floral-white);
}
.btn-ghost:active {
  background: var(--chartreuse) !important;
  color: var(--raisin-black) !important;
  fill: var(--raisin-black) !important;
}

.btn-solid {
  border: none;
  border-radius: 0;
  background: var(--raisin-black);
  color: var(--floral-white);
  fill: var(--floral-white);
  box-shadow: 0 0 0 1px var(--raisin-black);
  transition: all 300ms;
}
.btn-solid:hover {
  background: var(--onyx);
  color: var(--chartreuse);
  fill: var(--chartreuse);
}
.btn-solid:active {
  background: var(--chartreuse) !important;
  color: var(--raisin-black) !important;
  fill: var(--raisin-black) !important;
}

.heading-info {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--onyx);
}

.heading-info > span > svg {
  fill: var(--timberwolf);
  font-size: 12px;
}

.heading-title {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading-title2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.green-point {
  fill: var(--chartreuse) !important;
}
.dark-point {
  fill: var(--onyx) !important;
}
.header-color {
  background-color: var(--chartreuse);
  width: fit-content;
  padding: 0 0.5rem;
}